*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Poppins', sans-serif;
    font-family: 'Work Sans', sans-serif;
}
section{
    margin-top: 80px;
}

header{
    width: 100vw;
    height: 100vh;
    background-image: url('images/banner/banner3.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
}

.banner{
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 200px;
    top:216px;
    width: 500px;
    text-align: right;
    color:#fff;
    justify-content: flex-end;

}
.banner h1{
    font-size:45px;
    font-weight: 700;
    margin-bottom: 22px;
}
.descrip{
  font-size: 20px;
  font-weight: 400;
  line-height: 26px;
  margin-bottom: 22px;
}
.btn{
    width: 150px;
    height: 50px;
    background-color: #fff;
    color:#005FAC;
    font-size: 16px;
    font-weight: 500;
    border: none;
    border-radius: 5px;
    padding: 10px 12px;
}
.btn-div{
    display: flex;
    justify-content: flex-end;
}

.about{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:100px;
}

.text-bar{
    width: 450px;
    text-align: left;
}
.profile{
    width: 450px;
}
.title{
    font-size: 30px;
    font-weight: 700;
    color:#151414;
    margin-bottom: 25px;
}
.para{
  color:#444343;
}
.list-item li{
    list-style:none;
    font-size: 16px;
    line-height: 30px;
}
.list-item li i{
    color:#16D887;
    margin-right: 4px;
    vertical-align:middle ;
}

.plan{
    width: 80%;
    margin: 10px auto;
}
.hero{
    text-align: center;
   
}
.plan-bar{
    display: flex;
    justify-content: center;
    margin-top: 30px;
    gap:120px;
}
.plan-item{
    text-align: center;
}
.plan-item img{
    width: 80px;
    margin-bottom: 22px;
}
.plan-item h4{
    font-size: 20px;
    color:#151414;
    margin-bottom: 15px;
}